@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;1,300&display=swap');
body {
    max-width: 960px;
    margin: auto;
    background-image: url('batman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-items: center;
    align-items: center;

}

.text {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 95px;
    padding-top: 20%;
    padding-left: 30%;
    color: antiquewhite;
}

.text:hover {
    color: navajowhite;
}

.batman {
    font-weight: 700;
}
